/* 폰트적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.absolute-middle.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.relative {
    position: relative;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.clear-both {
    clear: both;
}

.img-box > img {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.margin-0-auto {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0 > * {
    line-height: normal;
}

.width-30px {
    width: 30px;
}

.width-35px {
    width: 35px;
}

.width-40px {
    width: 35px;
}

.width-45px {
    width: 35px;
}

.width-50px {
    width: 50px;
}

.width-80px {
    width: 80px;
}

.width-100px {
    width: 100px;
}

.width-100p {
    width: 100%;
}

.width-60p {
    width: 60%;
}

.width-55p {
    width: 55%;
}

.width-50p {
    width: 50%;
}

.width-45p {
    width: 45%;
}

.width-40p {
    width: 40%;
}

.width-30p {
    width: 30%;
}

.width-35p {
    width: 35%;
}

.width-100p-except-30px {
    width: calc(100% - 30px);
}

.width-100p-except-35px {
    width: calc(100% - 35px);
}

.width-100p-except-40px {
    width: calc(100% - 40px);
}

.width-100p-except-50px {
    width: calc(100% - 50px);
}

.width-100p-except-80px {
    width: calc(100% - 80px);
}

.width-100p-except-100px {
    width: calc(100% - 100px);
}

.border-box {
    box-sizing: border-box;
}

.font-size-dot-8rem {
    font-size: 0.8rem;
}

.table-row {
    display: table;
}

.table-row.row::after {
    display: inline;
    clear: non;
}

.table-row > .cell {
    float: none;
    display: table-cell;
}

.flex {
    display: flex;
}

.flex > .cell {
    float: none;
}

.ch-flex-1-0-auto > * {
    flex: 1 0 auto;
}

/* 커스텀 */
.con-min-width {
}

.con {
    max-width: 1160px;
}

/* 탑바 시작 */
.top-bar {
    position: fixed;
    width: 100%;
    z-index:100;
}

/* 탑바 메뉴 */
.top-bar.menu-box-1-actived {
    background-color:white;
    transition:background-color .3s;
}

.top-bar.follow {
    background-color:white;
    transition:background-color .6s;
}

.top-bar > .top-bar-con > .menu-box-1 > ul ul {
    display: none;
    top: 100%;
    height: 0;
    width: 100%;
    opacity:0;
    overflow-y: hidden;
    display: block;
    text-align: center;
    transition:height .3s, opacity .3s;
}

.top-bar.menu-box-1-actived > .top-bar-con > .menu-box-1 > ul ul {
    display: block;
    height: 170px;
    border-top:1px solid rgb(210,210,210);
    opacity:1;
}


.top-bar > .top-bar-con > .menu-box-1 > ul > li {
    position:relative;
}

.top-bar > .top-bar-con > .menu-box-1 > ul > li:not(:last-child)::after {
    content:"";
    position:absolute;
    width:1px;
    height:9px;
    background-color:#b0a8a3;
    top:50%;
    left:100%;
    transform:translatey(-50%);
}

.top-bar > .top-bar-con > .menu-box-1 > ul ul > li {
    padding-top:5px;
}

.top-bar > .top-bar-con > .menu-box-1 > ul ul > li:first-child {
    padding-top:15px;
}

.top-bar > .top-bar-con > .menu-box-1 > ul > li > a {
    padding: 0 50px;
    line-height: 80px;
    color: #ffffff;
    font-size:17px;
}

.top-bar > .top-bar-con > .menu-box-1 > ul ul a {
    font-size:14px;
    
}

.top-bar.menu-box-1-actived > .top-bar-con > .menu-box-1 > ul > li > a, .top-bar.follow > .top-bar-con > .menu-box-1 > ul > li > a {
    color:#101010;
} 

.top-bar.menu-box-1-actived > .top-bar-con > .menu-box-1 > ul > li > ul a {
    color: #888888;
    padding:5px 0;
}

.top-bar.menu-box-1-actived > .top-bar-con > .menu-box-1 > ul > li > ul > li:hover > a {
    color:#e61f0c;
    text-decoration:underline;
}

/* 탑바 로고 */
.top-bar > .top-bar-con > .logo-box > .logo:last-child {
    display:none;
}

.top-bar.menu-box-1-actived > .top-bar-con > .logo-box > .logo:first-child, .top-bar.follow > .top-bar-con > .logo-box > .logo:first-child {
    display:none;
}

.top-bar.menu-box-1-actived > .top-bar-con > .logo-box > .logo:last-child, .top-bar.follow > .top-bar-con > .logo-box > .logo:last-child {
    display:block;
}


/* 탑바 로그인 버튼 */
.top-bar > .top-bar-con > .login-btn-box > .login-btn {
    border: 1px solid rgb(255, 255, 255);
    padding: 4px 11px;
    font-size: 12px;
}

.top-bar.menu-box-1-actived > .top-bar-con > .menu-box-1 ~ .login-btn-box > .login-btn, .top-bar.follow > .top-bar-con > .login-btn-box > .login-btn {
    color: #101010;
    border: 1px solid rgb(210,210,210);
}

.top-bar > .top-bar-con > .login-btn-box > .login-btn {
    color: #ffffff;
}

.top-bar.menu-box-1-actived > .top-bar-con > .menu-box-1 ~ .login-btn-box > .login-btn {
    color: #101010;
}

/* 탑바 메뉴 호버 백그라운드 */
.top-bar > .top-bar-con > .menu-box-1-hover-background {
    position: absolute;
    top: 0;
    left:0;
    background-color: rgba(255,255,255,0);
    z-index: -1;
    transition:background-color .3s;
}

/* 탑바 서브메뉴 호버 백그라운드 */
.top-bar > .top-bar-con > .menu-box-1-sub-menu-hover-background {
    position: absolute;
    top: 100%;
    left: 0;
    width: 500%;
    height: 0;
    transition:height .3s, background-color .3s;
    background-color:rgba(255,255,255,0);
    z-index: -1;
    margin-left: -100%;
    margin-right: -100%; 
}

.top-bar.menu-box-1-actived > .top-bar-con > .menu-box-1 ~ .menu-box-1-sub-menu-hover-background {
    height: 170px;
    border-top:1px solid rgb(210,210,210);
    transition:height .3s, background-color .3s;
    background-color:rgba(255,255,255,1);
}
/* 탑바 끝 */

/* 메뉴 호버 다크백그라운드 */
.top-bar ~ .menu-box-1-hover-dark-background {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0);    
    z-index:0;
    visibility:hidden;
    transition:background-color 0.3s, visibility 0.3s;
    z-index:1;
}

.top-bar.menu-box-1-actived ~ .menu-box-1-hover-dark-background {
    background-color:rgba(0,0,0,0.5);
    visibility:visible;
}


/* 비주얼 시작 */
.visual > .con {
    height: calc(100vh - 100px);
    width:100%;
}


/* 비주얼 배경 이미지 */
.visual > .background-img-box > div {
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    position:fixed;
    width:100%;
    height:100%;
    display:none;
    opacity:0;
    transition:opacity .3s;
    z-index:-10;
}

.visual > .background-img-box > .active {
    display:block;
    opacity:1;
}

/* 비주얼 어반 */
.visual > .con > .urban {
    top:50%;
    left:50%;
    transform:translatex(-50%) translatey(-50%);
}

/* 비주얼 미들텍스트 */
.visual > .con > .middle-text {
    color:rgb(255,255,255);
    font-size:30px;
    font-weight:400;
    top:60%;
    left:50%;
    transform:translatex(-50%) translatey(-50%);
    white-space:nowrap;
}

/* 비주얼 마크*/
.visual > .con > .mark-list-box > ul > li > .txt-box {
    color:white;
    font-weight:400;
    font-size:16px;
}

.visual > .con > .mark-list-box > ul > li:not(:last-child)  {
    margin-right:19px;
}

/* 비주얼 슬라이더 박스 */
.visual > .con > .slider-box > div {
    width:54px;
    height:2px;
    background-color:white;
    margin-right:10px;
}

.visual > .con > .slider-box > .active {
    background-color:red;
}

/* 비주얼 끝 */

/* 메인 컨텐츠 */
.main-content {
    margin-top:60px;
    background-color:white;
}
/* 배너박스1 시작 */
.banner-box-1 {
    padding:80px 0;
    margin:0 10.5%;
}

/* 배너박스1 스크롤 다운 */
.banner-box-1 > .scroll-down-box {
    left:50%;
    top:-3.2%;
    transform:translatex(-50%);
}

.banner-box-1 > .scroll-down-box > .scroll-down-txt {
    top:88%;
    left:50%;
    transform:translatex(-50%);
    white-space:nowrap;
    font-size:10px;
    color:#101010;
}

/* 배너박스1 왼쪽박스*/
.banner-box-1 > .left-box {
    font-size:25px;
    font-weight:500;
}

/* 배너박스1 오른쪽박스*/
.banner-box-1 > .right-box {
    margin-left:8%;
}

.banner-box-1 > .right-box > ul > li {
    width:33.3333%;
}

.banner-box-1 > .right-box > ul > li > .title {
    font-size:25px;
    margin-bottom:10px;
}

.banner-box-1 > .right-box > ul > li:last-child > .title {
    padding-top:20px;
}

.banner-box-1 > .right-box > ul > li > .content {
    font-size:15px;
    color: #757575;
}
.banner-box-1 > .right-box > ul > li .go {
    margin-top:72px;   
}

.banner-box-1 > .right-box > ul > li .go > a {
    border-bottom:1px solid #d1d1d1;
}
/* 배너박스1 끝 */

/* 배너박스2 시작 */
.banner-box-2 {
    padding: 9% 0 9% 10%;
}

/* 배너박스2 아디다스 풋볼 */
.banner-box-2 > .adidas-football {
    color:white;
    font-size:54px;
    font-weight:400;
    line-height:1;
}

/* 배너박스2 서브텍스트 */
.banner-box-2 > .sub-txt {
    color:#fff;
    font-size:20px;
    font-weight:400;
    margin:10px 0;
}

/* 배너박스2 버튼 */
.banner-box-2 > .btn-area {
    margin-top:37px;
}
.banner-box-2 > .btn-area > .btn {
    color:#fff;
    border: 1px solid #d1d1d1;
    padding:9.5px 30px;
    box-sizing:border-box;
    font-size:16px;
    margin-right:10px;
}

.banner-box-2 > .btn-area > .btn:hover {
    border: 1px solid #e61f0c;
}
/* 배너박스2 끝 */

/* 배너박스3 시작 */
.banner-box {
    padding:80px 0;
    margin:0 10.5%;
}

.banner-box-3 {
    border-bottom:1px solid rgb(209, 209, 209);
}

/* 배너박스3 왼쪽박스 */
.banner-box > .left-box {
    font-size:25px;
    font-weight:500;
    width:30%;
    background-color:red;
}

/* 배너박스3 오른쪽박스 */
.banner-box > .right-box {
    width:calc(100% - 30%);
    overflow-x:hidden;
    background-color:blue;
}

.banner-box-3 > .right-box > ul {
    margin:0 -40px;
}

.banner-box-3 > .right-box > ul > li {
    width:25%;
}

.banner-box-3 > .right-box > ul > li > a > img {
    width:70px;
    height:70px;
    margin:0 auto;
    margin-bottom:16px;
}

.banner-box-3 > .right-box > ul > li > a > .txt {
    text-align:center;
    font-weight: 400;
    color: #757575;
}

/* 배너박스3 끝 */

/* 배너박스4 시작 */

/* 배너박스4 오른쪽 박스*/


